.circle {
    border-radius: 50%;
    border: 3px solid black;
    height: 200px;
    width: 200px;
}

.main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin: auto;
}

.item {
	align-self: center;
}